i{
color: cornflowerblue;
background-color:springgreen;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list1{
color: pink;
}
list2
{
color:darkred
}
.list2{
color:deeppink
}
b{
    color :mediumpurple;
    text-align : right;
}