i{
color: cornflowerblue;
background-color:springgreen;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list1{
color: pink;
}
list2
{
color:darkred
}
.list2{
color:deeppink
}
b{
    color :mediumpurple;
    background-color: lemonchiffon;
    text-align : right;
}
h6{
    color:aliceblue;
    background-color: teal;
    font-size: 25px;
    padding: 39px 20px;
    border:2px dotted black;
}
sub{
    color : #334fff;
}
sup{
    color:rgb(30,60,90);
}
h1{
    background-color:blueviolet;color:grey ;
}
small{
    background-color:salmon;
    color:yellowgreen;
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 60px;
}