.home{
    background-color: bisque;
border-radius: 20px;
width: 60px;
height: 20px;
margin-right:400px;
margin-top: 20px;

float: right;
}
.picture{
    width: 100px;
    border-radius:50px
}
#navbar{
background-color: blue;
border-radius:20px;
padding: 20px;
margin: 10px;
}
#nav2{
    border-radius:20px;
    background-color:bisque;
padding: 20px;
}
#navelist{
    list-style:none;
display:flex;
}
.grid{
    background-color: lightgreen;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
    padding-top: 10px;
    text-align:center;
    /*margin-left: 50px;
    margin-right: 110px;*/
}
.item{
margin-right: 40%;
}
.img{
    border-radius: 20px;
    background-color:white;
    margin-top: 20px;
    margin-bottom: 20px;
text-align: center;   
}
#img{
    margin-right: 20%;
    display:initial;

}
